@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at top left, #ecfff8, #f7f8ff 42%, #fff4ef 100%);
  color: #131722;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
